{{#partial "content"}}

<div class="container">
    <form action="/new/hero" method="post">
        <fieldset>
            <input id="name" name="name" type="text" placeholder="Name">
        </fieldset>

        <fieldset>
            <input id="age" name="age" type="number" placeholder="Age">
        </fieldset>

        <fieldset>
            <input id="power" name="power" type="text" placeholder="Super Power">
        </fieldset>

        <fieldset>
            <input id="weakness" name="weakness" type="text" placeholder="Weakness">
        </fieldset>

        <fieldset>
            <button type="submit" class="btn btn default">Create Hero</button>
        </fieldset>

    </form>
</div>

    {{/partial}}

{{>layout.hbs}}