{{#partial "content"}}
    <h1>Welcome to Hero League!</h1>
    <h2>Your fantasy world!</h2>
    <div><img src="/images/justiceleague.jpg" alt="super heroes image" height="500px" width="1000px"></div>
    {{/partial}}
{{>layout.hbs}}