{{#partial "content"}}

    <div class=""container>

        <div class="form">
        <h1>Create Your Dream Team!</h1>
        <p>No man can stand alone!</p>
        <form class="form" action="/team-form" method="post">
            <fieldset>
                <input id="name" name="name" type="text" placeholder="Team Name">
            </fieldset>

            <fieldset>
                <input id="cause" name="cause" type="type" placeholder="What you stand for.">
            </fieldset>

            <fieldset>
                <input id="max_size" name="max_size" type="text" placeholder="Team number">
            </fieldset>

            <fieldset>
                <button type="submit" class="btn btn default">Create Hero</button>
            </fieldset>

        </form>
        </div>
    </div>

{{/partial}}

{{>layout.hbs}}